$dark-one: rgb(6, 6, 6);
$dark-two: rgb(10, 10, 10);
$dark-three: rgb(14, 14, 14);
$dark-four: rgb(18, 18, 18);
$dark-five: rgb(24, 24, 24);
$dark-six: rgb(30, 30, 30);

$green-basic: rgba(127, 252, 127, 0.753);
$green-darker: rgba(127, 252, 127, 0.541);
